/* Footer design */
/* Footer design */
.social {

}

.footer {
  color: $color3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer a {
  color: $color3;
}

.footer li {
  padding: 0 15px 0 15px;
}
